<article class="shadow links-card">
    <header class="post-header">
        <h1 class="post-title"><%-__('post.links')%></h1>
    </header>
    <div class="linf-info">
        <h2><%-__('site.title')%></h2>
        <p><%-__('site.webmaster')%>：<%- theme.user.name %></p>
        <p><%-__('site.domain')%>：<%- theme.user.domain %></p>
        <p><%-__('site.avatar')%>：<%- theme.user.avatar %></p>
        <p><%-__('site.describe')%>：<%- theme.user.desc %></p>
    </div>
    <div class="links-list">
        <% theme.links.forEach(item=>{%>
            <div class="links-list-item">
                <a href='<%- item.url %>' target='_blank' rel="nofollow">
                    <img draggable="false" alt="<%- item.name %>" src="<%- item.image %>">
                    <div>
                        <h3> <%- item.name %> </h4>
                        <p> <%- item.desc %> </p>
                    </div>
                </a>
            </div>
        <%})%>
    </div>
</article>
<%- partial('../components/comment',{comtitle:__('site.comment_title')}) %>