<% 
    let isheaderbg = (post.headerbg && post.headerbg.length>0);
    let isHome= is_home();
%>
<article class="shadow animated fadeInUp <%- isHome?'home-article':'detail-article' %>">
    <header class="post-header">
        <div class="post-container">
            <% if(isHome){%>                     
                <h2 class="post-title">
                    <a class="_pjax" rel="nofollow" href="<%- url_for(post.path) %>"><%= post.title %></a>
                </h2>
            <%}else{%>
                <h1 class="post-title">「<%- post.title %>」</h1>
            <%}%>
            <% if(isHome && post.top){%>
                <span class="post-top">
                    <svg  viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path d="M121.85599999 4.77866667l0 63.488 96.256 0L121.85599999 4.77866667z m0 0" fill="#C1283C" p-id="16354"></path><path d="M1025.02399999 445.61066667L636.41599999 4.77866667l-514.56 0L1025.02399999 984.74666666 1025.02399999 445.61066667z m0 0" fill="#FF3C3C" p-id="16355"></path><path d="M496.12799999 254.63466667l16.384 17.92 71.68-63.488 44.032 50.688 6.656-6.656L575.99999999 187.56266668l14.848-13.31200001L649.72799999 239.78666667 657.91999999 233.64266667 605.18399999 176.29866667 642.56 141.99466667l130.55999999 145.408-37.37600001 34.304-55.29599999-61.952-6.656 6.656 61.952 68.608-14.848 13.312-61.44-69.12L652.79999999 285.86666667l47.616 53.76-71.68 63.488 16.384 17.92-14.84800001 13.312-148.47999999-166.4 14.336-13.312z m143.36-70.144l17.92 20.992 9.728-9.728-17.91999999-20.992-9.72800001 9.728z m36.35199999 40.96l17.92000001 20.992 9.728-9.72800001-17.92-20.99199999-9.72800001 9.728z m-11.77599999 102.912L590.84799999 244.90666667l-6.656 5.12L657.91999999 332.97066667l6.144-4.608zM729.59999999 285.86666667l9.728-9.728-17.92000001-20.992-9.72799999 9.728L729.59999999 285.86666667z m-161.792-19.968l73.728 83.456 6.656-5.12-73.728-83.456-6.656 5.12z m-17.92 14.848l73.728 83.456 6.65599999-5.12L556.54399999 275.62666667l-6.656 5.12z m-16.384 16.384l73.728 83.456 6.656-6.65599999L540.15999999 290.47466667l-6.656 6.656z m251.392 6.656L837.11999999 362.66666667l-23.04 19.456-12.8-14.848-102.912 91.648c-6.656 6.656-13.312 9.728-19.456 11.26400001-6.656 1.536-11.264 0-16.384-3.07200001s-13.312-11.264-26.112-26.112c6.656-6.656 11.264-14.848 17.92-23.04 3.072 5.12 8.192 11.264 13.312 16.384 3.072 5.12 8.192 5.12 13.312 0L780.28799999 346.28266667l-19.456-20.99200001 24.064-21.50399999z m55.808 60.416l91.648 101.37599999-20.992 19.45600001-39.424-44.032-17.92 11.264 37.376 42.496-76.8 68.608-19.456-23.04 55.296-50.688-45.56800001-52.224-57.34399999 50.688-19.456-23.04 76.8-68.608 26.112 29.184 17.92-11.264-29.184-32.768 20.992-17.408z m-32.768 97.792l19.45600001 20.992c-16.384 14.848-31.232 24.57599999-44.03200001 32.768 5.12 24.57599999 8.192 50.688 9.728 76.8l-31.232 1.536c0-19.45599999-3.072-42.496-5.12-70.144-19.456 3.072-44.032-1.53600001-73.728-17.92 3.072-9.728 6.656-19.456 9.728-32.768 14.848 9.728 27.648 14.848 39.424 17.92 11.264 3.072 24.576 1.536 35.84-3.072 12.288-3.072 25.08800001-12.8 39.936-26.112z m0 0" fill="#FFFFFF" p-id="16356"></path></svg>
                </span>
            <%}%>
            <% if(!isHome){%>
            <div class="post-meta">
                <span class="post-push-time">
                    <time datetime="<%= date_xml(post.date) %>" title="<%= date_xml(post.date) %>" itemprop="datePublished">
                        <%= date(post.date,config.date_format) %>
                    </time>
                    <span class="post-meta-divider">•</span>
                </span>
                <%if(theme.post_wordcount.wordcount){%>
                    <span class="post-wordcount">
                        <span class="post-meta-item-text">
                            <%- __('post.word_count',wordcount(post.content)) %>
                        </span>
                        <span class="post-meta-divider">•</span>
                    </span>
                <%}%>
                <%if(theme.post_wordcount.min2read){%>
                    <span class="post-consuming-time">
                        <span class="post-meta-item-text">
                            <%- __('post.min2read',min2read(post.content)) %>
                        </span>
                    </span>
                <%}%>
            </div>
            <%}%>
        </div>
    </header>
    <div class="post-content">
        <% if(isHome){%>
            <%if(post.excerpt){%>
                <%- post.excerpt.substring(0,50)%>
                <%- post.excerpt.length>50?'...':'' %>
            <%}else{%>
                <%- post.content.substring(0,50)%>
                <%- post.content.length>50?'...':'' %>
            <%}%>
        <%}else{%>
            <%- post.content %>
        <%}%>
    </div>
</article>
<% if(is_post()){%>
    <% if(theme.is_toc){%>
        <div id="post-toc" class="post-toc single">
            <%- toc2(page.content) %>
        </div>
    <%}%>
    <%- partial('./next') %>
    <% if(page.comments){%>
        <%- partial('./comment',{comtitle:__('post.comments'),className:'post'}) %>
    <% }%>
<%}%>

