<script type="text/javascript">
    if (!!window.ActiveXObject || "ActiveXObject" in window) {
        document.body.innerHTML = "<h2 style='text-align:center; line-height:100px; font-weight:700;'><%- __('ieTips')%></h2>"
    }

    var CONFIG = {
        fixed_header: JSON.parse('<%-theme.fixed_header%>'),
        is_toc: JSON.parse('<%-theme.is_toc%>'),
        favicon: {
            visibilitychange: JSON.parse('<%- theme.favicon.visibilitychange%>'),
            narmal: '<%-theme.favicon.narmal%>',
            hidden: '<%-theme.favicon.hidden%>',
            show_text: '<%-theme.favicon.show_text%>',
            hide_text: '<%-theme.favicon.hide_text%>'
        }
    };
</script>

<% theme.cdn.js.forEach(item=>{ %>
<script src="<%- item %>"></script>
<% })%>

<%- js('js/index.min.js?v='+theme.version) %>
<% if(theme.sw){ %>
<script>
    "serviceWorker" in navigator ? navigator.serviceWorker.register('/sw.js').then(function () {
        navigator.serviceWorker.controller ? 
         console.log("Assets cached by the controlling service worker.") :
         console.log("Please reload this page to allow the service worker to handle network operations.")
    }).catch(function (e) {
        console.log("ERROR: " + e)
    }) : console.log("Service workers are not supported in the current browser.")
</script>
<% } %>
<% if(theme.cloudbase.enable) {%>
    <script type="text/javascript" src="//imgcache.qq.com/qcloud/cloudbase-js-sdk/1.7.1/cloudbase.full.js"></script>
    <script type="text/javascript" src="//unpkg.com/b-comments@<%= theme.cloudbase.v %>/dist/index.all.min.js"></script>
<% } %>